<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nvrsty">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.TelaInicialActivity"
            android:label="@string/title_activity_tela_inicial">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ListaDisciplinasActivity"
            android:label="@string/title_activity_lista_materias"
            android:parentActivityName=".activities.TelaInicialActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.TelaInicialActivity" />
        </activity>
        <activity
            android:name=".activities.CadastrarDisciplinaActivity"
            android:label="@string/title_activity_cadastrar_disciplina"
            android:parentActivityName=".activities.ListaDisciplinasActivity"
            android:theme="@style/AppTheme2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ListaDisciplinasActivity" />
        </activity>
        <activity
            android:name=".activities.CadastrarHorarioActivity"
            android:label="@string/title_activity_cadastrar_horario"
            android:parentActivityName=".activities.CadastrarDisciplinaActivity"
            android:theme="@style/AppTheme2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.CadastrarDisciplinaActivity" />
        </activity>
        <activity
            android:name=".activities.ListaEventosActivity"
            android:label="@string/title_activity_lista_eventos"
            android:parentActivityName=".activities.TelaInicialActivity"
            android:theme="@style/AppTheme2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.TelaInicialActivity" />
        </activity>
        <activity
            android:name=".activities.CadastrarEventoActivity"
            android:label="@string/title_activity_cadastrar_evento"
            android:parentActivityName=".activities.ListaEventosActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ListaEventosActivity" />
        </activity>
        <activity
            android:name=".activities.InformacoesMateriaActivity"
            android:parentActivityName=".activities.ListaDisciplinasActivity"
            android:theme="@style/AppTheme2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ListaDisciplinasActivity" />
        </activity>
        <activity android:name=".activities.AulasHoje" />
        <activity
            android:name=".db.AndroidDatabaseManager"
            android:theme="@style/Theme.AppCompat.Light" />


        <activity
            android:label="@string/title_activity_lista_lembretes"
            android:name=".activities.ListaLembretesActivity"
            android:parentActivityName=".activities.TelaInicialActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.TelaInicialActivity" />
        </activity>

        <activity
            android:label="@string/title_activity_cadastrar_lembrete"
            android:name=".activities.CadastrarLembreteActivity"
            android:parentActivityName=".activities.ListaLembretesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ListaLembretesActivity" />

        </activity>
    </application>

</manifest>
